ul {
    font-size: 0;
}
ul li {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    width: calc((100% - 80px) / 5);
}
ul li:first-child,
ul li:nth-of-type(5n - 4) {
    margin-left: 0;
}
ul li a {
    display: block;
    position: relative;
}
.wrap .pic {
    height: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.wrap .pic:before {
    background-color: #000;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.wrap .pic:after {
    background: url(../imgs/play.png) no-repeat;
    background-size: contain;
    content: '';
    height: 70px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(.7);
    width: 70px;
    z-index: 3;
}
.wrap .pic:hover:before {
    opacity: .2;
    transition: .5s;
}
.wrap .pic:hover:after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .5s;
}
.wrap .pic img {
    height: 100%;
    transition: .5s;
    width: 100%;
}
.wrap .pic:hover img {
    transform: scale(1.1);
}
.wrap .name {
    font-size: 14px;
    font-weight: 400;
}
.wrap .player {
    color: #999;
    font-size: 14px;
}
.wrap .name:hover,
.wrap .player:hover {
    color: #19b955;
}
ul li a.active .pic:before,
ul li a.active .pic:after {
    display: none;
}
ul li a.active .play {
    display: block;
}